{
  "presets": [
    ["@babel/preset-env", {
      "forceAllTransforms": true,
      "targets": {
        "browsers": "> 1%",
      },
      "useBuiltIns": "entry"
    }]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
