{
  "presets": [
    ["@babel/preset-env", {
      "forceAllTransforms": true,
      "targets": {
        "browsers": "> 1%",
      },
      "useBuiltIns": "entry"
    }]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
