<h1>Bipartite graph</h1>

<div>
  Given a graph G, can we partition the vertices of the graph
  such that each edge connects one partition to another?
</div>

<section class="solutions">
  <h2>Solution 1: Floyd-Warshall</h2>
  <div>Time complexity: O(|V| x |E|)</div>
  <div>Space complexity: O(|V|)</div>

  <h2>Solution 2: Breadth-first search</h2>
  <div></div>
</section>
