<h1>Edit distance</h1>

<div>
  Given two strings A and B, what is the minimum number of
  edits required to make the strings match? Edits can be
  insertions, deletions, and replacements.
</div>

<section class="solutions">
  <h2>Solution 1: Dynamic programming</h2>
  <div>Time complexity: O(nm)</div>
  <div>Space complexity: O(nm)</div>

  <h2>Solution 2: Dynamic programming</h2>
  <div>Time complexity: O(nm)</div>
  <div>Space complexity: O(min(n,m))</div>
</section>
