<h1>Flood fill</h1>

<div>
  Given a pixel coordinate in an m x n image, convert all
  connected pixels of the same color to a given color.
</div>

<section class="solutions">
  <section class="solution">
    <h2>Solution 1: Depth-first search</h2>
    <%= complexity_table do %>
      Time   O(mn)
      Space  O(mn)
    <% end %>
  </section>

  <section class="solution">
    <h2>Solution 2: Breadth-first search</h2>
    <%= complexity_table do %>
      Time   O(mn)
      Space  O(mn)
    <% end %>
  </section>
</section>
