<h1>Flood fill</h1>

<div>
  Given a pixel coordinate in an m x n image, convert all
  connected pixels of the same color to a given color.
</div>

<section class="solutions">
  <h2>Solution 1: Depth-first search</h2>
  <div>Time: O(mn)</div>
  <div>Space: O(mn)</div>

  <h2>Solution 2: Breadth-first search</h2>
  <div>Time: O(mn)</div>
  <div>Space: O(mn)</div>
</section>
