<h1>Longest palindromic substring</h1>

<div>
  Given a string S, find the longest substring of S that's also a palindrome
</div>

<section class="solutions">
  <h2>Solution 1: Brute force</h2>
  <table class="complexity">
    <tr><td>Time</td><td>O(n<sup>3</sup>)</td></tr>
    <tr><td>Space</td><td>O(n)</td></tr>
  </table>

  <h2>Solution 2: Dynamic programming</h2>
  <table class="complexity">
    <tr><td>Time</td><td>O(n<sup>2</sup>)</td></tr>
    <tr><td>Space</td><td>O(n<sup>2</sup>)</td></tr>
  </table>

  <h2>Solution 3: Central expansion</h2>
  <table class="complexity">
    <tr><td>Time</td><td>O(n<sup>2</sup>)</td></tr>
    <tr><td>Space</td><td>O(n)</td></tr>
  </table>
</section>
