<h1>Longest increasing subsequence</h1>

<div>
  Part 1. Find the length of the longest increasing subsequence
</div>

<section class="solutions">
  <h2>Solution 1: Brute force</h2>
  <div>Time complexity: O(n<sup>3</sup>)</div>
  <div>Space complexity: O(1)</div>

  <h2>Solution 2: Dynamic programming</h2>
  <div>Time complexity: O(n<sup>2</sup>)</div>
  <div>Space complexity: O(n)</div>

  <h2>Solution 3: Patience sorting</h2>
  <div>Time complexity: O(n log n)</div>
  <div>Space complexity: O(n)</div>
</section>

<div>
  Part 2. Find one of the longest increasing subsequences
</div>
