<h1>Network delay time</h1>

<div>
  Given a graph G, figure out how long it takes for a signal
  to propagate from vertex 0 to all vertices in the graph. If
  it's not possible, return -1.
</div>

<table class="solutions">
  <tr>
    <th>Solution</th>
    <th>Time</th>
    <th>Space</th>
  </tr>
  <tr>
    <td>Bellman-Ford algorithm</td>
    <td>O(|V||E|)</td>
    <td>O(|V|)</td>
  </tr>
  <tr>
    <td>Breadth-first search</td>
    <td>O(|V||E|)</td>
    <td>O(|V|)</td>
  </tr>
  <tr>
    <td>Depth-first search</td>
    <td>O(|V||E|)</td>
    <td>O(|V|)</td>
  </tr>
</table>
