<div class="container">
  <h1>Permutations</h1>

  <div>
    Given a list of distinct numbers, return all possible permutations
  </div>

  <section class="solutions">
    <h2>Solution 1: Breadth-first search</h2>
    <pre><%= rb_code "code/problems/permutations/s1.rb" %></pre>
    <div>Time: O(n * n!)</div>
    <div>Space: O(n * n!)</div>

    <h2>Solution 2: Backtracking</h2>
    <pre><%= rb_code "code/problems/permutations/s2.rb" %></pre>
    <div>Time: O(n * n!)</div>
    <div>Space: O(n * n!)</div>
  </section>
</div>
