<h1>Top k frequent words</h1>

<div>
  Given a sequence of n words, find the k most frequent.
  If more than one word have the same frequency, return
  the one that's alphabetically the highest.
</div>

<section class="solutions">
  <h2>Solution 1: Sorting</h2>
  <div>Time: O(n log n)</div>
  <div>Space: O(n)</div>

  <h2>Solution 2: Max-heap</h2>
  <div>Time: O(n log k)</div>
  <div>Space: O(n)</div>
</section>
