<% rows = yield.strip.split(/\n/).map do |row|
     BigO.new(row.strip).to_s.split(/\s{2,}/)
   end
%>

<table class="solutions">
  <tr>
    <th>Solution</th>
    <th>Time</th>
    <th>Space</th>
  </tr>
  <% rows.each_with_index do |row, i| %>
    <tr>
      <% row.each_with_index do |cell, j| %>
        <% if j == 0 && colors[i] %>
          <td class="<%= colors[i] %>"><%= cell.html_safe %></td>
        <% else %>
          <td><%= cell.html_safe %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
