<div class="container">
  <h1>Bellman-Ford algorithm</h1>
  <h4>Graph traversal</h4>

  <div>
    Finds the shortest path from one vertex to all other vertices.
    Works for graphs with negative edge weights, but not negative
    cycles.
  </div>

  <section class="margin-bottom">
    <%= rb_code "code/algorithms/bellman_ford_algorithm/s1.rb" %>
    <table class="complexity">
      <tr><td>Time</td><td>O(|V||E|)</td></tr>
      <tr><td>Space</td><td>O(|V|)</td></tr>
    </table>
  </section>
</div>
