<div class="container">
  <h1>Binary search</h1>

  <div>
    Refers to search algorithms that cut the search space in half at
    each iteration.
  </div>

  <div>
    Time complexity: O(log n)
  </div>

  <h2>Binary search problems</h2>

  <div>Find a value in a sorted array</div>
  <%= code_block "code/algorithms/binary_search/s1.rb" %>

  <div>Find the first and last position in a sorted array</div>
  <div>Find the peak in a mountain array</div>
  <div>Find the valley in a valley array</div>
  <div>Find the first bad version</div>
  <div>Find the single element in a sorted array of couples</div>
  <div>Find a value in a sorted array rotated by k</div>
</div>
