<div class="container">
  <h1>Quickselect</h1>
  <h4>Selection algorithm</h4>

  <div>
    Finds the kth-smallest element in linear time, on average.
    When using random pivots, you might get very unlucky and
    select a lot of bad pivots. Then the worst case runtime
    is O(n<sup>2</sup>).
  </div>

  <%= rb_code "code/algorithms/quickselect/quickselect.rb" %>
</div>
