<h1>Binary search tree</h1>

<div>
  A binary tree where:
  <ul>
    <li>the value of each left element is smaller than the parent value
    <li>the value of each right element is larger than the parent value
  </ul>
</div>
