<h1>Binary search tree</h1>

<div>
  A binary tree where:
  <ul>
    <li>the value of each left element is smaller than the parent value
    <li>the value of each right element is larger than the parent value
  </ul>
  Some topics covered here
  <ul>
    <li>Constructing binary search trees</li>
    <li>Binary search tree operations</li>
    <li>Validating binary search trees</li>
    <li>Trimming binary search trees</li>
  </ul>
</div>

<section>
  <h2>Constructing binary search trees</h2>

  <div>From a sorted array, you can recursively build a balanced BST</div>
</section>

<section>
  <h2>Binary search tree operations</h2>

  <h3>Inserting values</h3>
  <h3>Searching for values</h3>
</section>

<section>
  <h2>Validating binary search tree</h2>

  <div>Check that the in-order traversal order is increasing</div>
</section>

<section>
  <h2>Trimming binary search tree</h2>

  <div>Removing values from the tree that fall outside a number range</div>
</section>
