<h1>Binary tree</h1>

<div>
  A tree with two child nodes. Commonly implemented using either:
  <ul>
    <li>a tree node struct or class</li>
    <li>an array as a backing data structure</li>
  </ul>
</div>
