<h1>Binary heap</h1>

<div>
  A complete binary tree where parent and child nodes are ordered
  in a specific way.
</div>

<h3>Max heap</h3>
<div>
  All parent nodes are larger than both of their child nodes.
</div>

<h3>Min heap</h3>
<div>
  All parent nodes are smaller than both of their child nodes.
</div>
