<h1>Disjoint set</h1>

<div>
  Tracks elements grouped into disjoint (non-overlapping) sets.
</div>

<%= code_block "app/code/data_structures/disjoint_set/s1.rb" %>
<table class="complexity">
  <tr>
    <td>Time</td>
    <td>Union</td>
    <td>O(n)</td>
  </tr>
  <tr>
    <td></td>
    <td>Find</td>
    <td>O(n)</td>
  </tr>
  <tr>
    <td>Space</td>
    <td></td>
    <td>O(n)</td>
  </tr>
</table>

<div>
  By using path compression and union by rank, the time complexity
  of the union and find operations are effectively reduced to constant
  time.
</div>

<%= code_block "app/code/data_structures/disjoint_set/s2.rb" %>
<table class="complexity">
  <tr>
    <td>Time</td>
    <td>Union</td>
    <td>O(a(n)) ~ O(1)</td>
  </tr>
  <tr>
    <td></td>
    <td>Find</td>
    <td>O(a(n)) ~ O(1)</td>
  </tr>
  <tr>
    <td>Space</td>
    <td></td>
    <td>O(n)</td>
  </tr>
</table>
