<h1>Disjoint set</h1>

<div>
  Tracks elements grouped into disjoint (non-overlapping) sets.
</div>

<%= code_block "app/code/data_structures/disjoint_set/s1.rb" %>
<div>
  Time complexity:
  Union   O(n)
  Find    O(n)

  Space complexity: O(n)
</div>

<div>
  By using path compression and union by rank, the time complexity
  of the union and find operations are reduced to constant time.
</div>

<%= code_block "app/code/data_structures/disjoint_set/s2.rb" %>
<div>
  Time complexity:
  Union   O(a(n)) ~ O(1)
  Find    O(a(n)) ~ O(1)

  Space complexity: O(N)
</div>
