<h1>Graph</h1>

<section class="margin-bottom">
  <div class="explanation">
    Common ways to represent graphs are:
    <br>
    <ul>
      <li>Edge lists</li>
      <li>Adjacency lists</li>
      <li>Adjacency matrices</li>
    </ul>
  </div>
</section>
