<h1>Linked list</h1>

<div>
  A sequence of elements where each element points to adjacent element(s)
  in the sequence.
  <ul>
    <li>Singly-linked list - each element points to next element</li>
    <li>Doubly-linked list - each element points to the previous element</li>
  </ul>
</div>

<div>
  Singly-linked list
</div>
<%= code_block "app/code/data_structures/linked_list/list_node.rb" %>
<%= code_block "app/code/data_structures/linked_list/linked_list.rb" %>
