<h1>Queue</h1>

<div>The first item that goes in is the first item that comes out.</div>

<div>FIFO (first in, first out)</div>
<div>A queue can be implemented as a doubly-linked list</div>

<%= rb_code "code/data_structures/queue/linked_list_queue.rb" %>

<div>Or it can be implemented with two stacks</div>

<%= rb_code "code/data_structures/queue/two_stacks_queue.rb" %>

<div>Just make sure you're not using the two-queues stack to implement to two-stacks queue or you'll have a problem.</div>
