<h1>Queue</h1>

<div>FIFO (first in, first out)</div>
<div>A queue can be implemented as a doubly-linked list</div>
<%= code_block "code/data_structures/linked_list/list_node.double.rb" %>
<div>Or it can be implemented with two stacks</div>
