<h1>Stack</h1>

<section class="margin-bottom">
  <div>LIFO (last in, first out)</div>
  <div>A stack can be implemented as a singly-linked list</div>
  <%= code_block "code/data_structures/stack/stack.rb" %>
  <table class="complexity">
    <tr>
      <td>Time</td>
      <td>Push</td>
      <td>O(1)</td>
    </tr>
    <tr>
      <td></td>
      <td>Pop</td>
      <td>O(1)</td>
    </tr>
    <tr>
      <td></td>
      <td>Peek</td>
      <td>O(1)</td>
    </tr>
    <tr>
      <td></td>
      <td>Size</td>
      <td>O(1)</td>
    </tr>
    <tr>
      <td>Space</td>
      <td></td>
      <td>O(n)</td>
    </tr>
  </table>
</section>

<section class="margin-bottom">
  <div>
    Common uses for stacks
    <ul>
      <li>Recursive function calls</li>
      <li>Depth-first traversals of graphs</li>
    </ul>
  </div>
</section>
