<div class="container">
  <%= explanation do %>
    # About

    This is a collection of computer science problem
    explanations and resources from my recent attempt at
    learning computer science.

    I made this site while applying the Feynman Technique
    to learning:

    1. Write down the name of the concept you want to learn
    2. Try to explain the concept as if you were teaching it
    3. Review what you now know you don't know. Repeat step 2
    4. Simplify your language and use simple analogies

    What comes out of me building this site hopefully
    accomplishes 2 things:

    * I understand computer science better than I did before
    * New learning resources now exist that help people learn

  <% end %>
</div>
