<div class="container">
  <h1>Algorithms</h1>

  <ul>
    <% @algorithms.each do |algo| %>
      <li>
        <a href="/<%= algo %>">
         <%= algo.gsub(/-/, ' ').capitalize %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
