<div class="container">
  <h1>Data structures</h1>

  <ul>
    <% @data_structures.each do |ds| %>
      <li>
        <a href="/<%= ds %>">
          <%= ds.gsub(/-/, ' ').capitalize %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
