<header class="home-header">
  <div class="container">
    <h1>Algorithm problems</h1>
    <h2>Explanations with code solutions and time/space complexity analysis</h2>
  </div>
</header>

<div class="container">
  <section class="problems-list">
    <div class="problem">
      <a href="/problems/fibonacci-numbers">
        Fibonacci numbers
      </a>
      <div class="description">Calculate the n-th fibonacci number</div>
    </div>

    <div class="problem">
      <a href="/problems/longest-palindromic-substring">
        Longest palindromic substring
      </a>
      <div class="description">
        Find the longest substring that reads the same, forward and backwards
      </div>
    </div>

    <div class="problem">
      <a href="/problems/kth-largest-element">
        Kth largest element
      </a>
      <div class="description">
        Find the k-th largest number in an unsorted array
      </div>
    </div>

    <div class="problem">
      <a href="/problems/maximum-subarray-sum">
        Maximum subarray sum
      </a>
      <div class="description">
        Find the maximum sum of any continous sequence of numbers in an array
      </div>
    </div>
  </section>
</div>
