<div class="container top-margin">
  <div class="intro">
    Algorithms, data structures, and code problems.
    <br>
    All with code examples, visual explanations,
    and links to great resources.
  </div>

  <a href="/algorithms">Algorithms</a>
  <a href="/sorts">Sorts</a>
  <a href="/binary-search">Binary search</a>
  <a href="/binary-tree-traversal">Binary tree traversal</a>
  <a href="/data-structures">Data structures</a>
  <a href="/problems">Problems</a>
</div>
