<div class="container top-margin">
  <div class="intro">
    Algorithms, data structures, and code problems.
    <br>
    All with code examples, visual explanations,
    and links to great resources.
  </div>

  <div>
    <a href="/algorithms">Algorithms</a>
    <ul>
      <li><a href="/binary-search">Binary search</a>
      <li><a href="/binary-tree-traversal">Binary tree traversal</a>
      <li><a href="/sorts">Sorts</a>
    </ul>
    <a href="/data-structures">Data structures</a>
    <ul>
      <li><a href="/binary-heap">Binary heap</a>
      <li><a href="/disjoint-set">Disjoint set</a>
      <li><a href="/linked-list">Linked list</a>
    </ul>
    <a href="/problems">Problems</a>
    <ul>
      <li><a href="/problems/edit-distance">Edit distance</a>
      <li><a href="/problems/top-k-frequent-words">Top k frequent words</a>
      <li><a href="/problems/longest-increasing-subsequence">Longest increasing subsequence</a>
    </ul>
  </div>
</div>
