%header.home-header
  .container
    %h1 Algorithm problems
    %h2 Explanations with code solutions and time/space complexity analysis

.container
  %section.problems-list
    .problem
      %a(href="/problems/fibonacci-numbers")
        Fibonacci numbers
      .description
        Calculate the n-th fibonacci number

    .problem
      %a(href="/problems/longest-palindromic-substring")
        Longest palindromic substring
      .description
        Find the longest substring that reads the same, forward and backwards

    .problem
      %a(href="/problems/longest-common-subsequence")
        Longest common subsequence
      .description
        Given two strings, find the longest subsequence that appears in both

    .problem
      %a(href="/problems/kth-largest-element")
        Kth largest element
      .description
        Find the k-th largest element in an unsorted array

    .problem
      %a(href="/problems/maximum-subarray-sum")
        Maximum subarray sum
      .description
        Find the maximum sum of any continous sequence of numbers in an array
