<div class="container">
  <h1>Problems</h1>

  <ul>
    <% @problems.each do |problem| %>
      <li>
        <a href="/problems/<%= problem %>">
          <%= problem.gsub(/-/, ' ').capitalize %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
