/*
 *= require_tree .
 *= require_self
 */

body {
  font-family: Arial, sans-serif;
}

a {
  display: block;
}

.container {
  margin: 80px auto;
  width: 800px;
}

table.complexity {
  td:first-child {
    padding-right: 15px;
  }
}
