// homepage intro
.intro {
  margin: 30px 0;

  h1 {
    font-size: 35px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
  }
}

section.home-sections {
  margin-bottom: 80px;

  h3 {
    margin: 0;
  }
}

section.home-section {
  display: flex;
  margin-bottom: 40px;

  .link-list {
    width: 200px;
  }
}

header.problems-section-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 40px;

  h2 {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

section.problems-subsection {
  margin-bottom: 30px;

  h4 {
    font-weight: normal;
    margin: 10px 0 25px;
  }

  .problem {
    display: flex;
    margin: 5px 0;

    a {
      width: 200px;
    }

    .description {
      width: 350px;
    }
  }
}
