header.home-header {
  padding: 30px 0;
  background: #1A1A1A;

  h1 {
    font-size: 35px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.5;
  }
}

section.problems-list {
  margin: 50px 0;

  .problem {
    display: flex;
    line-height: 1.5em;
    margin: 20px 0;

    a {
      width: 200px;
      color: #00e7ff;
    }

    .description {
      width: 350px;
    }
  }
}
