header.home-header {
  padding: 2rem 0;
  background: #1A1A1A;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.5;
  }
}

section.problems-list {
  margin: 3rem 0;

  .problem {
    display: flex;
    line-height: 1.5rem;
    margin: 1.25rem 0;

    a {
      width: 35%;
      color: #00e7ff;
    }

    .description {
      width: 65%;
    }
  }
}
