// based off of seoul256.vim colors

.highlight {
  padding: 20px;
  line-height: 17px;
  color: rgb(208,208,208);
  background: rgb(38,38,38);

  .k {
    color: rgb(205,138,102); // def, do, if, end

    // &:first-of-type, &:last-child { // class/function definitions
      // color: rgb(134,136,172);
      // color: rgb(142,175,211);
      // color: rgb(55,134,171);
    // }
  }
  .ss { color: rgb(114,173,174); } // symbols
  .nb { color: rgb(205,138,102); } // require
  .s1 { color: rgb(143,174,174); } // string literals
  .nf { color: rgb(215,214,179); }
  .kp { color: rgb(114,173,174); }
  // .kp { color: rgb(134,136,172); }
  .vi { color: rgb(244,178,177); } // instance variables
  .p { color: rgb(216,214,145); }
  .no { color: rgb(210,176,107); } // class
  .nc { color: rgb(210,176,107); } // class definition
  .o { color: rgb(216,214,145); }  // operators
  .mi { color: rgb(250,216,146); } // numeric literals
}
